{{ define "report.html" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV Validation Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/validation.css">
    <script src="/report.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
  </head>
  <body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item validator-title" href="/">Validation Service</a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item nav-link" href="/">CSV Upload</a>
          <a class="navbar-item nav-link" id="pdf-dl">Download Report</a>
        </div>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      <div id="json" style="display: none;">{{ .JSON }}</div>
      <div id="report" class="table-container"></div>
    </div>
  </section>

  </body>
  </html>
{{ end }}
